@charset "UTF-8";
/* Development ShinChang © 2024~ */
/* LayoutStylesheet */
*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

/* ItemActionEffect */
.eft__action {
  position: relative;
}
.eft__action > * {
  position: relative;
  z-index: 1;
}
.eft__action::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  background-color: #eeeeee;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.eft__action:hover::after {
  height: 100%;
  width: 100%;
  opacity: 1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transform-origin: center;
  transition: all 0.1s ease-out;
}
.eft__action:active {
  opacity: 0.7;
}
.eft__action:active::after {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

/* ButtonStyle */
.button__style {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--color__white_typeA);
  transform: translate(300px, 300px);
  border-radius: 6px;
}
.button__style span {
  margin-top: 2.5px;
  font-size: 14px;
}
.button__style:hover {
  cursor: pointer;
}
.button__style.default {
  background-color: var(--color__white_typeC);
  border: 1px solid var(--color__white_typeB);
}