@charset "UTF-8";
/* Development ShinChangEon © 2024~ */
/* LayoutStylesheet */

// Mixin Load
@use '/src/assets/css/mixin' as *;

*::-webkit-scrollbar{width:6px;background-color:transparent}
*::-webkit-scrollbar-track{background-color:var(--color__white_typeB)}
*::-webkit-scrollbar-thumb{background-color:var(--color__white_typeD)}
*::-webkit-scrollbar-thumb:hover{background-color:var(--color__black_typeE)}

html,
body{width:100%;height:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:auto;}
body{
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
a{
  &:hover{
    cursor:pointer;
  }
}
h1,h2,h3,h4{font-weight:normal}

#app{
  >div{
    height:100%;
  }
}

.container{
  height:100%;
}
.container{
  &:has(.pad__layout){
    overflow:hidden;
  }
}

/* Header+Nav */
header{
  position:fixed;
  top:10px;
  left:10px;
  z-index:1000;
  display:flex;
  align-items:center;
  height:30px;
  padding:0 5px;
  background-color: var(--color__black_typeA);
  color: var(--color__white_typeA);
  border-radius:6px;
  a{
    display:flex;
    align-items:center;
    padding:1px 10px 0 10px;
    height:30px;
    color:var(--color__white_typeD);
    font-size:12px;
    line-height:1;
  }
  h1{
    a{
      position:relative;
      font-weight:400;
    }
  }
  nav{
    height:100%;
    ul{
      display:flex;
      li{
        a{
          display:flex;
          position:relative;
          height:30px;
          align-items:center;
          transition:all .15s linear;
          font-weight:500;
          font-size:12px;
        }
      }
    }
  }
  h1>a,
  nav>ul>li>a{
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height:1px;
      background-color: #f7f5f5;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
      filter: blur(0.5px);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s ease-in-out;
    }
    &.active{
      color:var(--color__white_typeA);
      &::before{
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  
  /* ThemeButton */
  #mode__button{
    position:fixed;
    top:10px;
    right:10px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:30px;
    width:120px;
    background-color:var(--color__black_typeA);
    border-radius:6px;
    color:var(--color__white_typeA);
    font-size:12px;
    font-weight:300;
  }
}

/* titleStyle */
.page__title_bx{
  position:fixed;
  top:50px;
  left:10px;
  box-sizing:border-box;
  h2{
    color:var(--color__white_typeA);
    font-family:Exo2;
    font-weight:600;
    font-size:80px;
  }
  p{
    margin-left:4px;
    color:var(--color__white_typeA);
    font-size:16px;
    font-weight:300;
  }
}

/* Main */
main{
  &:has(.pad__layout){
    height:100%;
  }
}

/* Footer */
footer{
  position:fixed;
  bottom:20px;
  left:0;
  padding:0 20px;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  width:100%;
  gap:10px;
  box-sizing:border-box;
  user-select:none;
  *{
    color:var(--color__blue_typeB);
    font-size:10px;
    font-weight:300;
    font-style:normal;
    letter-spacing:1px;
  }
  a{
    &:hover{
      color:var(--color__white_typeA);
    }
  }
}

/* ItemActionEffect */
.eft__action{
  position:relative;
  >*{
    position:relative;
    z-index:1;
  }
  &::after{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:0;
    height:0;
    background-color:var(--color__white_typeB);
    transform:translate(-50%,-50%);
    border-radius:6px;
    box-sizing:border-box;
    opacity:0;
    transition:all .3s ease-in-out;
  }
  &:hover{
    &::after{
      height:100%;
      width:100%;
      opacity:1;
      box-shadow:0 0 0 rgba(0,0,0,0);
      // transform:translate(-50%,-50%) perspective(120px) rotateX(45deg);
      transform-origin:center;
      transition:all .1s ease-out;
    }
  }
  &:active{
    opacity:.7;
    &::after{
      background-color:var(--color__white_typeA);
      box-shadow:0 0 20px rgba(0,0,0,.1);
      transition:all .1s ease
    }
  }
}

/* ButtonStyle */
.button__style{
  display:inline-flex;
  align-items:center;
  padding:5px 10px;
  background-color:var(--color__white_typeA);
  transform: translate(300px,300px);
  border-radius:6px;
  span{
    margin-top:2.5px;
    font-size:14px;
  }
  &:hover{
    cursor:pointer;
  }
  &.default{
    background-color:var(--color__white_typeC);
    border:1px solid var(--color__white_typeB);
  }
}

/* detailsSummaryPage */
.details__summary_page{
  position:relative;
  display:block;
  width:100%;
  height:500px;
  padding:0 200px;
  box-sizing:border-box;
  details{
    position:absolute;
    width:100%;
    height:100%;
    box-sizing:border-box;
    summary{
      display:flex;
      width:200px;
      align-items:center;
      padding:0 10px;
      height:36px;
      background-color:#ff0;
      box-sizing:border-box;
    }
    >div{
      position:absolute;
      top:0;
      left:200px;
      width:calc(100% - 400px);
      background-color:#ff0000;
    }
  }
}

/* detailsSummary */
.details__summary_bx{
	position:relative;
	z-index:2;
	display:flex;
	flex-direction:column;
	width:400px;
	margin:50px auto;
	text-align:center;
	details{
		display:flex;
		min-height:36px;
		width:100%;
		text-align:left;
		border-top:1px solid var(--color__white_typeB);
		border-right:1px solid var(--color__white_typeB);
		border-left:1px solid var(--color__white_typeB);
		&:last-child{
			border-bottom:1px solid var(--color__white_typeB);
		}
		&:hover{
			summary{
				color:var(--color__black_typeA);
			}
		}
		>div{
			background-color:#fefefe;
			font-size:11px;
		}
		summary{
			display:flex;
			align-items:center;
			padding:0 15px;
			min-height:36px;
			background-color:var(--color__white_typeC);
			color:var(--color__white_typeD);
			font-weight:400;
			letter-spacing:0;
      font-size:14px;
			transition:all .15s linear;
			&:hover{
				background-color:#f1f1f1;
				cursor:pointer;
			}
		}
	}
	details[open]{
		position:relative;
		z-index:1;
		border:1px solid var(--color__black_typeA);
		box-shadow:0 10px 20px rgba(0,0,0,.15);
		summary{
			background-color:var(--color__white_typeA);
			color:var(--color__black_typeA);
		}
		>div{
			padding:10px 15px;
			border-top:1px solid var(--color__white_typeB);
			background-color:var(--color__white_typeC);
		}
	}
}

/* AddPointModalPopup */
.modal__popup{
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all .15s linear;
  &:has(.coin__animation){
    backdrop-filter:blur(0);
    opacity:0;
  }
  &:has(.coin__animation.show){
    display:flex;
    backdrop-filter:blur(3px);
    opacity:1;
  }
  .coin__animation{
    display:inline-flex;
    flex-direction:column;
    padding-top:10px;
    height:280px;
    width:280px;
    background:var(--color__white_typeA);
    box-sizing:border-box;
    border-radius:50%;
    box-shadow:0 10px 100px rgba(39, 33, 17, 0.08);
    &.ani{
      opacity:0;
      transition:all .25s ease;
      &.show{
        opacity:1;
        .coin__animation_item {
          >div{
            animation: coin-effect 2s, coin-spin 6s forwards ease-in-out;
            opacity:1;
          }
        }
        .conin_animation_mypoint{
          strong{
            transform: rotateX(0deg);
            transition:all .2s ease-in-out;
            transition-duration:1.5s;
            opacity:1;
          }
        }
      }
    }
    canvas{
      position:absolute;
      top:50px;
      left:50%;
      transform:translateX(-50%);
      margin:0 auto;
      user-select:none;
      pointer-events:none;
    }
    .coin__animation_effect{
      position:relative;
      z-index:1;
      &::before{
        content:'';
        position:absolute;
        top:-44px;
        left:calc(50% - 40px);
        width:80px;
        height:80px;
        border-radius:80px;
        @include image-style("profile_item_g.png", 100%, no-repeat, center, 0);
      }
      >div{
        text-align:center;
        &:last-child{
          animation: opacity__effect 1s forwards;
          opacity:0;
          font-size:20px;
          font-weight:400;
          user-select:none;
          strong{
            margin-right:5px;
            color:var(--color_gold_levelA);
            font-weight:400;
          }
        }
      }
      .coin__animation_item {
        position: relative;
        height: 90px;
        width:30px;
        display: inline-block; 
        >div{
          background:linear-gradient(45deg, #b98300, #ffd320);
          width: 30px;
          height: 30px;
          display: block;
          border-radius: 100%;
          transform-origin:bottom;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity:0;
          >div{
            background: #ffc319;
            width: 24px;
            height: 24px;
            display: block;
            border-radius: 100%;
            color:var(--color__white_typeA);
            text-shadow:1px 1px 4px rgba(0,0,0,.3);
            font-size:16px;
            text-align: center;
            position: relative;
            top: 3px;
            left: 3px;
            line-height: 28px;
            box-shadow:-1px -1px 0 0 #d39038, 2px 2px 4px rgba(0, 0, 0, 0.1);
            &::before {
              content: "";
              background-color: transparent;
              position: absolute;
              top:1px;
              left:1px;
              width:22px;
              height:22px;
              border-radius: 100%;
              box-shadow:1px 1px 0 0 #ffce47;
            }
          }
        }
      }
    }
    .conin_animation_mypoint{
      margin-top:12px;
      opacity:0;
      animation: opacity__effect 2s forwards linear;
      text-align:center;
      font-size:16px;
      user-select:none;
      strong,
      span{
        font-size:22px;
        font-weight:400;
        letter-spacing:.025em;
      }
      strong{
        display:flex;
        justify-content:center;
        margin:0 auto;
        position:relative;
        top:8px;
        width:calc(100% - 120px);
        transform: rotateX(90deg);
        height:37px;
        padding:12px 10px 0 10px;
        border:1px solid rgba(0,0,0,.1);
        border-radius:30px;
        background-color:var(--color__white_typeC);
        opacity:0;
        transition:all .2s ease-in-out;
        color:var(--color__black_typeA);
        span{
          margin-right:5px;
        }
      }
    }
    @keyframes coin-spin {
      0%{transform:rotateY(0deg) scale(.2);opacity:0;}
      33%{transform:rotateY(720deg) scale(1.4);opacity:1;}
      100%{transform:rotateY(720deg) scale(1.4);opacity:1;}}
    @keyframes coin-effect {
      0%{bottom:0;}
      17%{bottom:calc(100% - 60px);} 
      32%{bottom:0;}
      46%{bottom:30%; }
      56%{bottom:0;}
      68%{bottom:20%;}
      78%{bottom:0;}
      84%{bottom:5%;}  
      89%{bottom:0;}
      91%{bottom:2%;}
      92%{bottom:0;} 
      94%{bottom:1%;}
      100%{bottom:0;}}
    @keyframes opacity__effect {
      0%{opacity:0;}
      100%{opacity:1;}}
  }
}

@media only screen and (min-device-width:360px) and (max-device-width:1024px) {}

/*세로*/
@media screen and (orientation: portrait) {
  @media screen and (max-width:1920px) {}
  @media screen and (max-width:1200px) {}
  @media screen and (max-width:1080px) {}
  @media screen and (max-width:768px) {
    .pad__layout{
      >.pad__layout_pannel{
        transform:perspective(74em) rotateX(70deg) rotateZ(360deg) translateY(0px) scale(.8);
      }
      &.setup{
        >.pad__layout_pannel{
          transform:perspective(74em) rotateX(0deg) rotateZ(0deg) translateY(0) scale(.8);
        }
      }
    }
  }
  @media screen and (max-width:640px) {}
  @media screen and (max-width:500px) {}
  @media screen and (max-width:400px) {}
}

/*가로*/
@media screen and (orientation: landscape) {
  @media screen and (max-width:1920px) {}
  @media screen and (max-width:1200px) {}
  @media screen and (max-width:1080px) {
    .pad__layout{
      >.pad__layout_pannel{
        transform:perspective(74em) rotateX(70deg) rotateZ(360deg) translateY(0px) scale(.6);
      }
      &.setup{
        >.pad__layout_pannel{
          transform:perspective(74em) rotateX(0deg) rotateZ(0deg) translateY(0) scale(.6);
        }
      }
    }
  }
  @media screen and (max-width:768px) {
    
  }
  @media screen and (max-width:640px) {}
  @media screen and (max-width:500px) {}
  @media screen and (max-width:400px) {}
}